.intv-sub-step {
  margin-bottom: 20px;
}

.intv-sub-step .intv-instructions,
.intv-sub-step .intv-dialogues {
  width: 650px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.intv-sub-step .intv-instructions h5,
.intv-sub-step .intv-dialogues h5 {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
}

.intv-sub-step .intv-instructions h5 i,
.intv-sub-step .intv-dialogues h5 i {
  position: relative;
  top: 5px;
}

.intv-sub-step .intv-instructions h5 i {
  font-size: 20px;
}

.intv-sub-step .intv-dialogues h5 i {
  font-size: 18px;
}

.intv-sub-step .intv-dialogues ol {
  padding: 0 0 0 20px;
}

.intv-sub-step .intv-dialogues ol li {
  margin-bottom: 10px;
}


.intv-instructions {
  color: #4480ae;
  background: #cde8f5;
  border: 1px solid #9ccaec;
}

.intv-instructions h5 {
  border-bottom: 1px solid #9ccaec;
}

.intv-dialogues {
  color: #5a7052;
  background: #def2d6;
  border: 1px solid #c0d8b7;
}

.intv-dialogues h5 {
  border-bottom: 1px solid #c0d8b7;
}

.tips {
  margin-left: 5px;
}
