<mat-vertical-stepper>
  <mat-step label="Getting to know Tom Smith">
    <div class="intv-step-section">
      <div class="intv-sub-step">
        <h5>Ask Tom about his recent contact with ChaplinWatch or Chill out zone? </h5>
        <div class="intv-instructions">
          <h5><i class="material-icons">lightbulb_outline</i> Tips to the clinician</h5>
          <p class="tips">Check now is a good time to talk?</p>
        </div>
        <div class="intv-dialogues">
          <h5><i class="material-icons">chat</i> Questions you may ask (sample for reference)</h5>
          <ol>
            <li>You were recently referred to us, do you know why we’re calling?</li>
            <li>Could you tell me a bit about the night you went to ChaplainWatch or
            the Chill out zone?</li>
            <li>How was your recovery?</li>
            <li>Could you tell me about any alcohol or substance use that night?</li>
            <li>Has this kind of thing happened before? Could you tell me a bit more
            about that?</li>
          </ol>
        </div>
        <div class="intv-instructions">
          <h5><i class="material-icons">lightbulb_outline</i> Tips to the clinician</h5>
          <p class="tips">Summarise any potential consequences of their AOD use & empathise.</p>
        </div>
      </div>
      <button mat-button matStepperNext mat-raised-button class="mat-primary">Done</button>
    </div>
  </mat-step>
  <mat-step label="Getting to know QuikFix">
    <div class="intv-step-section">

      <div class="intv-sub-step">
        <h5>Outline the aim of QuikFix</h5>
        <div class="intv-dialogues">
          <h5><i class="material-icons">chat</i> Sample for reference</h5>
          <p class="tips">QuikFix is designed to help reduce problems associated with alcohol or other drug use.</p>
        </div>
      </div>
      <div class="intv-sub-step">
        <h5>Describe QuikFix in more detail</h5>
        <div class="intv-dialogues">
          <h5><i class="material-icons">chat</i> Sample for reference</h5>
          <p class="tips">The program is run over 2-3 sessions that take around half an hour each.</p>
          <p class="tips">Session involve learning more about your substance use, how it might impact your life,
          and stratergies that might help.</p>
        </div>
      </div>
      <div class="intv-sub-step">
        <h5>Check they are still interested in participating</h5>
        <div class="intv-dialogues">
          <h5><i class="material-icons">chat</i> Sample for reference</h5>
          <p class="tips">Are you still interested in participating in the QuikFix program?</p>
          <p class="tips">OK, let's get started.</p>
        </div>
      </div>
      <div class="intv-sub-step">
        <h5>Discuss confidentiality</h5>
        <div class="intv-dialogues">
          <h5><i class="material-icons">chat</i> Sample for reference</h5>
          <p class="tips">We also want you to understand that everything you say here is confidential,
          which means that it says between us.</p>
          <p class="tips">There are few situations in which I'd break confidentiality.</p>
          <ol>
            <li>If I'm seriously concerned that you're at risk of harming yourself or somone else.</li>
            <li>If you are involved in legal action and we are subpoenaed by a court of law.</li>
          </ol>
          <p>If I needed to break confidentiality I would usually try to talk to you about it first.</p>
        </div>
        <div class="intv-instructions">
          <h5><i class="material-icons">lightbulb_outline</i> Tips to the clinician</h5>
          <p class="tips">Check if they have any questions.</p>
        </div>
      </div>
      <button mat-button matStepperNext mat-raised-button class="mat-primary">Next Stage <i class="material-icons">keyboard_arrow_right</i></button>
    </div>
  </mat-step>
</mat-vertical-stepper>
