<mat-toolbar color="primary" class="sticky-fixed-header">
  <mat-toolbar-row>
    <span>quikFix</span>

    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>
