<div class="intv-module-container">
  <mat-tab-group dynamicHeight="true">
    <mat-tab label="Engage">
      <app-engage-stage></app-engage-stage>
    </mat-tab>
    <mat-tab label="Examine">
      <app-examine-stage></app-examine-stage>
    </mat-tab>
    <mat-tab label="Educate">
      <app-educate-stage></app-educate-stage>
    </mat-tab>
    <mat-tab label="Establish">
      <app-establish-stage></app-establish-stage>
    </mat-tab>
  </mat-tab-group>
</div>
