<div class="intv-client-container sticky-fixed-header">
  <div class="client-profile-pic">
    <i class="material-icons">account_circle</i>
  </div>
  <div class="client-profile-details">
    <div class="details-block primary-details-block">
      <p><strong>Tom Jones Smith</strong></p>
      <a href="#">View Details</a>
    </div>

    <div class="details-block">
      <p class="light">Primary drug</p>
      <p>Alcohol</p>
    </div>

    <div class="details-block">
      <p class="light">Secondary drug</p>
      <p>Marijuana</p>
    </div>
    <app-timer></app-timer>
  </div>
</div>
