.client-profile-pic {
  width: 50px;
  height: 50px;
  float: left;
}

.client-profile-pic i {
  font-size: 50px;
  color: #ccc;
}

.client-profile-pic mat-card {
  padding: 0;
}

.client-profile-details .details-block {
  float: left;
  margin-left: 30px;
  margin-top: 5px;
}

.client-profile-details .details-block.primary-details-block {
  margin-left: 10px;
}

.client-profile-details .details-block p {
  margin-bottom: 0;
}
