/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.example-spacer {
  width: 100%;
}

.intv-primary-container {
  clear: both;
}

.intv-client-container {
  background: #eee;
  height: 70px;
  padding: 10px;
  clear: both;
}

.intv-module-container {
  height: 100%;
  padding: 10px;
  position: relative;
}

.intv-module-container .mat-tab-label {
  text-transform: uppercase;
}

.intv-module-container .mat-tab-label-active {
  background: #c5cae9;
}

.intv-module-container .mat-step-text-label {
  text-transform: uppercase;
}

.mat-tab-body-wrapper {
  padding: 20px;
}

.mat-vertical-content {
  padding-bottom: 0;
}

.mat-form-field {
  width: 500px;
}

.light {
  opacity: 0.5;
}




.mat-progress-bar-fill::after {
  background: #7bac69;
}

.mat-progress-bar-buffer {
  background: #dfedda;
  -moz-box-shadow:    inset 0 0 5px rgba(0,0,0,0.15);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
  box-shadow:         inset 0 0 5px rgba(0,0,0,0.15);
}

/*.intv-module-container {
  top: 142px;
}*/

/*.sticky-fixed-header {
  position: fixed; left: 0; right: 0; z-index: 2;
}*/

/*.intv-client-container.sticky-fixed-header {
  top: 64px;
}
.progress-bar-container.sticky-fixed-header {
  top: 134px;
}*/

/*.mat-tab-header {
  position: fixed!important;
  z-index: 2;
  left: 0px;
  right: 0px;
  background: #eee;
  top: 142px;
  padding: 10px 10px 0 10px;
}

.mat-tab-body-wrapper {
  top: 40px!important;
}*/
