<div class="intv-primary-container">
  <app-participant-details></app-participant-details>
  <app-progress-status-bar></app-progress-status-bar>
  <app-intervention-module></app-intervention-module>
  <app-clinician-notes></app-clinician-notes>
</div>
