<mat-drawer-container class="notes-module-container" autosize>
  <div class="clinician-notes-action">
    <button mat-raised-button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>create</mat-icon> Notes
    </button>
  </div>
  <mat-drawer #drawer class="clinician-notes-sidepane" mode="side" position="end">
    <textarea placeholder="Take notes here"></textarea>
    <!-- <button (click)="drawer.toggle()" mat-raised-button>
      Toggle extra text
    </button> -->
  </mat-drawer>
</mat-drawer-container>
