.notes-module-container {
  position: fixed;
  right: 0;
  top: 200px;
  bottom: 0;
  width: 500px;
  background: transparent;
}

.clinician-notes-action {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.clinician-notes-action button {
  background: #f9f7bc;
  color: #69683f;
  text-transform: uppercase;
  font-weight: normal;
}

.clinician-notes-sidepane {
  width: 300px;

}

.clinician-notes-sidepane textarea {
  width: 100%; height: 100%;
  padding: 20px;

  background: #f9f7bc;
  color: #69683f;
  border: 0;
  outline: none;

  -moz-box-shadow:    inset 0 0 5px #d7d5a1;
  -webkit-box-shadow: inset 0 0 5px #d7d5a1;
  box-shadow:         inset 0 0 5px #d7d5a1;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
